.homepage {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  h2 {
    color: white;
    margin: auto;
    font-size: 24px;
    line-height: 160%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  img {
    width: 10vw;
    border-radius: 10px;
    margin: auto;
  }
  .break,
  .break1 {
    flex-basis: 100%;
  }
  .sloth {
    width: 25vw;
  }
}
