.homepage {
  display: flex;
  // flex-wrap: wrap;
  width: 100vw;
  height: 100vh;

  .header {
    margin: 100px;
    h2 {
      color: white;
      margin: auto;
      font-size: 24px;
      line-height: 200%;
      margin: 20px;
      width: 20vw;
    }
  }

  .images {
    width: 80vw;
    margin: 100px;
    img {
      width: 10vw;
      border-radius: 10px;
      margin: auto;
    }
    .break {
      flex-basis: 100%;
    }
    .owl {
      width: 30vw;
    }
  }
  .break {
    flex-basis: 100%;
  }
}
