.dashboard-container {
  // height: 100vh;
  margin: 0px 30px;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  span {
    color: #337fff;
  }
  .dashboard-divs {
    margin: 25px 10px;
  }
  .dashboard-divs > * {
    margin-bottom: 4rem;
  }
  .alert {
    color: green;
    text-align: left;
    padding: 0px 0px 20px 0px;
  }
  .dashboard-links {
    display: flex;
    flex-direction: row;
    a {
      background-color: #337fff;
      border-radius: 10px;
      margin-right: 50px;
      text-decoration: none;
      color: white;
      padding: 10px;
    }
    button {
      color: white;
      background-color: #ff4b2b;
      border-radius: 10px;
      border: none;
    }

  }
  .list-experience {
    display: flex;
    flex-direction: column;
  }

}
