.developer-container {

  .developer-header {
    text-align: center;
    h2 {
      color: white;
    }
  }
  .developers {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    .alert {
      color: green;
      text-align: left;
    }
    .developer {
      text-align: center;
      flex: 1 1 30% !important;
    }
  }
}


