.list-experience {
  .styled-table {
    font-size: 24px;
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
    td {
      padding: 30px;
    }
  
  
    thead {
      padding: 12px 15px;
      tr {
        background-color: grey;
        text-align: left;
      }
    }
    tbody {
      padding: 12px 15px;
      tr {
        border-bottom: 1px solid #dddddd;
      }
      tr:nth-of-type(even) {
        background-color: #f3f3f3;
      }
      tr:last-of-type {
        border-bottom: 2px solid #337fff;
      }
      tr.active-row {
        font-weight: bold;
        color: #337fff;
      }
    }
  
    td {
      margin: 10px;
    }
  }


}
