.list-education {
  h1 {
    margin-top: 60px;
    margin-left: 10px;
  }
  .table-container {
    margin-bottom: 20px;
    .table {
      display: table-header-group;
      .table-headers {
        background-color: grey;
        height: 5vh;
        width: auto;
        padding: 10px 0px 10px 0px;
        margin-left: 10px;
        span {
          text-align: left;
          padding: 20px 30px;
        }
      }
      .table-body {
        text-align: left;
        td {
          padding: 0px 20px;
          button {
            margin: 0px 100px;
            background-color: #781f19;
            color: white;
            border-style: none;
          }
        }
      }
    }
  }
}
