.header-container {
  // background: #ccdfff;

  .break-header {
    border-bottom: 3px solid white;
  }

  .header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;

    a {
      text-decoration: none;
      font-size: 20px;
      margin-right: 20px;
    }
    .title {
      display: block;
      margin: auto;
      position: relative;
      margin-left: 10px;
      font-size: 36px;
      color: #337fff;
      font-weight: bolder;
    }
  }
}
